<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;," />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Go WASM to Layer8 to HTTP Server Test</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="wasm_exec.js"></script>
    <script src="index.js"></script>
  </head>
  <body>
    <div id="app" class="page-content">
      <!-- Login Form -->
      <div v-if="showLoginForm" class="form-container">
        <h2>Login</h2>
        <div class="form-inputs">
          <input type="text" v-model="loginUsername" placeholder="Username" />
          <input
            type="password"
            v-model="loginPassword"
            placeholder="Password"
          />
          <select v-model="selectedChoice" id="choice">
            <option value="1">PictureOne</option>
            <option value="2">PictureTwo</option>
            <option value="3">PictureThree</option>
            <option value="4">PictureFour</option>
          </select>
        </div>
        <div class="message" v-if="loginMessage">{{ loginMessage }}</div>
        <button @click="logUser">Login</button>
        <button class="back-button" @click="goBack">Back</button>
      </div>

      <!-- Register Form -->
      <div v-if="showRegisterForm" class="form-container">
        <h2>Register</h2>
        <div class="form-inputs">
          <input
            type="text"
            v-model="registerUsername"
            placeholder="Username"
          />
          <input
            type="password"
            v-model="registerPassword"
            placeholder="Password"
          />
          <input
            type="password"
            v-model="repeatPassword"
            placeholder="Repeat Password"
          />
        </div>
        <div class="error-message" v-if="repeatPasswordError">
          {{ repeatPasswordError }}
        </div>
        <button @click="regUser">Register</button>
        <button class="back-button" @click="goBack">Back</button>
      </div>

      <!-- Show Initial Buttons -->
      <div v-if="showInitialButtons" class="form-container">
        <button @click="showLoginFormSection">Login</button>
        <button @click="showRegisterFormSection">Register</button>
      </div>

      <!-- Display Image -->
      <div v-if="showImage" class="centered-container" style="margin-top: 20px">
        <img class="centered-image" id="imageElement" :src="imageSrc" alt="" />
      </div>
    </div>

    <div
      id="scrollDownMsg"
      v-if="showImage"
      style="text-align: center; color: #fff; margin-top: 10px"
    >
      Scroll down to see the image
    </div>
    <script src="app.js"></script>
  </body>
</html>
